.text-expand{
    font-size: 1.1em;
    color: #db2929;/*#97b10c;*/
    text-align: right;
    font-weight: bold;
}

.container-padding {
    margin-bottom: 15px !important;
}

.messagge-validator {
    font-size: 0.8 em;
    color: red;
}

.MuiTable-root {
    width: 98% !important;
}

.margin-component {
    margin-top: 1em;
}

.margin-component .text-center {
    padding: 10px 0;
}

.container-button {
    margin: 2em 0;
}

.container-button button {
    margin: 0em 0.5em !important;
}

/***** envio de emails ***********/
.send-email {
    display: flex;
    justify-content: center;
}


.send-email-form {
    background: #ffffffff;
    display: block;
    height: 60%;
    min-width: 50%;
    z-index: 100;
    position: absolute ;
    box-shadow: 0 0 12px -5px inset;
}

.send-email-form form {
    margin: 10%;
}