@import "./variables.css";

/*  */

.primary-color {
  color: var(--primary-color);
}

.primary-color:hover {
  color: var(--primary-color-hover);
}

.secondary-color {
  color: var(--secondary-color);
}

.secondary-color:hover {
  color: var(--secondary-color-hover);
}

.icon-active {
  font-size: 1.3em;
  color: var(--icon-color);
}

.icon-active.primary-color {
  color: var(--primary-color);
}

.icon-active.primary-color:hover {
  font-size: 1.4em;
  color: var(--primary-color-hover);
}

.icon-active.secondary-color {
  color: var(--secondary-color);
}

.icon-active.secondary-color:hover {
  font-size: 1.4em;
  color: var(--secondary-color-hover);
}

/* Bar scroll */

.scroll-y {
  overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color-hover);
  border-radius: 4px;
}

/*  */

.card-body {
  background-color: var(--main-bg-color-w);
  padding: 0.7rem !important;
}

.text-common {
  font-size: var(--text-size);
}

.text-alter {
  padding-top: 4em;
}

.store-car {
  font-size: 1.7 !important;
  cursor: pointer;
}

.store-car :hover {
  font-size: 1.8 !important;
}
