:root {
    --primary-color: rgba(85, 125, 61, 0.95);
    --primary-color-hover: rgba(85, 125, 61, 0.7);
    --secondary-color: rgba(216, 213, 72, 0.95);
    --secondary-color-hover: rgba(216, 213, 72, 0.7);

    --bg-color-ligth: rgb(253, 252, 242);
    --bg-color-dark: rgba(54, 55, 33, 1);
    
    --text-size: 0.9em;
    
    /* _Icons */
    --icon-size: scale(1.4);
    --icon-size-hover: scale(1.5);
    --icon-color: #908d8d;
    --icon-color-active: rgb(212, 211, 193);

}