
.App {
  /* text-align: center; */
  font-family: Roboto,-apple-system,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/*  Base plantilla inicial  */
.title {
  border-left: 4px solid #db2929;
  padding: 10px;
  font-size: 22px;
  font-weight: 500;
  color: #464646;
  font-size: 20px;
}

.sub-title {
  padding: 10px;
  border-left: 4px solid #97b10c;
  font-size: 17px;
  font-weight: 300;
  position: relative;
  margin-top: 15px;
}

.text-center {
  text-align: center;
}

/* Edition class material */
.MuiFormControl-root {
  margin-right: 16px !important;
  /* margin-right: 2px; */
}

.MuiCircularProgress-colorPrimary {
  color: red !important;
  opacity: .6;
}

.formControl {
  min-width: 100% !important;
}

